body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:921px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#009933;
  text-align:left;
}
#u560 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:11px;
  width:320px;
  height:42px;
  font-size:18px;
  color:#009933;
  text-align:left;
}
#u560_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u561 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:891px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#009933;
}
#u562 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:75px;
  width:891px;
  height:51px;
  font-size:20px;
  color:#009933;
}
#u562_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:887px;
  word-wrap:break-word;
}
#u563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 51, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u563 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:150px;
  width:287px;
  height:32px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u563_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:283px;
  word-wrap:break-word;
}
#u564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 102, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u564 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:150px;
  width:108px;
  height:32px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u564_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:104px;
  word-wrap:break-word;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:837px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u566 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:201px;
  width:837px;
  height:310px;
}
#u566_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:249px;
  width:55px;
  height:26px;
  font-size:16px;
}
#u567_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:285px;
  width:55px;
  height:26px;
  font-size:16px;
}
#u568_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u569 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:249px;
  width:320px;
  height:26px;
  text-align:left;
}
#u569_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:316px;
  word-wrap:break-word;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:285px;
  width:732px;
  height:159px;
}
#u571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u571_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:30px;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:0px;
  width:608px;
  height:30px;
}
#u572_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:604px;
  word-wrap:break-word;
}
#u573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:0px;
  width:60px;
  height:30px;
}
#u573_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:64px;
  height:30px;
}
#u574_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:30px;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:30px;
  width:608px;
  height:30px;
  text-align:left;
}
#u575_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:604px;
  word-wrap:break-word;
}
#u576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:30px;
  width:60px;
  height:30px;
}
#u576_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:33px;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:64px;
  height:33px;
}
#u577_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:33px;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:60px;
  width:608px;
  height:33px;
  text-align:left;
}
#u578_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:604px;
  word-wrap:break-word;
}
#u579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:60px;
  width:60px;
  height:33px;
}
#u579_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:33px;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:93px;
  width:64px;
  height:33px;
}
#u580_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:33px;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:93px;
  width:608px;
  height:33px;
  text-align:left;
}
#u581_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:604px;
  word-wrap:break-word;
}
#u582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:93px;
  width:60px;
  height:33px;
}
#u582_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:33px;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:64px;
  height:33px;
}
#u583_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:33px;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:126px;
  width:608px;
  height:33px;
  text-align:left;
}
#u584_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:604px;
  word-wrap:break-word;
}
#u585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:126px;
  width:60px;
  height:33px;
}
#u585_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:left;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:210px;
  width:287px;
  height:29px;
  font-size:18px;
  text-align:left;
}
#u586_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:283px;
  word-wrap:break-word;
}
#u587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:464px;
  width:222px;
  height:25px;
  text-align:left;
}
#u587_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:218px;
  word-wrap:break-word;
}
#u588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:121px;
  height:19px;
}
#u588p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:116px;
  height:6px;
}
#u588p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:6px;
}
#u588p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:2px;
}
#u588p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u588p002 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:-10px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u588p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:224px;
  width:112px;
  height:1px;
}
#u588_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u589 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:210px;
  width:388px;
  height:65px;
}
#u589_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:368px;
  word-wrap:break-word;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:837px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:540px;
  width:837px;
  height:310px;
}
#u591_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:588px;
  width:55px;
  height:26px;
  font-size:16px;
}
#u592_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:624px;
  width:55px;
  height:26px;
  font-size:16px;
}
#u593_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:588px;
  width:320px;
  height:26px;
  text-align:left;
}
#u594_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:316px;
  word-wrap:break-word;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:624px;
  width:732px;
  height:159px;
}
#u596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u596_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:30px;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:0px;
  width:608px;
  height:30px;
}
#u597_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:604px;
  word-wrap:break-word;
}
#u598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:0px;
  width:60px;
  height:30px;
}
#u598_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:64px;
  height:30px;
}
#u599_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:30px;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:30px;
  width:608px;
  height:30px;
  text-align:left;
}
#u600_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:604px;
  word-wrap:break-word;
}
#u601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:30px;
  width:60px;
  height:30px;
}
#u601_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:33px;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:64px;
  height:33px;
}
#u602_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:33px;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:60px;
  width:608px;
  height:33px;
  text-align:left;
}
#u603_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:604px;
  word-wrap:break-word;
}
#u604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:60px;
  width:60px;
  height:33px;
}
#u604_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:33px;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:93px;
  width:64px;
  height:33px;
}
#u605_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:33px;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:93px;
  width:608px;
  height:33px;
  text-align:left;
}
#u606_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:604px;
  word-wrap:break-word;
}
#u607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
}
#u607 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:93px;
  width:60px;
  height:33px;
}
#u607_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:33px;
}
#u608 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:64px;
  height:33px;
}
#u608_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:33px;
}
#u609 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:126px;
  width:608px;
  height:33px;
  text-align:left;
}
#u609_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:604px;
  word-wrap:break-word;
}
#u610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
}
#u610 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:126px;
  width:60px;
  height:33px;
}
#u610_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:left;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:549px;
  width:287px;
  height:29px;
  font-size:18px;
  text-align:left;
}
#u611_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:283px;
  word-wrap:break-word;
}
#u612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:803px;
  width:222px;
  height:25px;
  text-align:left;
}
#u612_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:218px;
  word-wrap:break-word;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:837px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:879px;
  width:837px;
  height:310px;
}
#u614_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:927px;
  width:55px;
  height:26px;
  font-size:16px;
}
#u615_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:963px;
  width:55px;
  height:26px;
  font-size:16px;
}
#u616_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:927px;
  width:320px;
  height:26px;
  text-align:left;
}
#u617_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:316px;
  word-wrap:break-word;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:963px;
  width:732px;
  height:159px;
}
#u619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u619_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:30px;
}
#u620 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:0px;
  width:608px;
  height:30px;
}
#u620_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:604px;
  word-wrap:break-word;
}
#u621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u621 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:0px;
  width:60px;
  height:30px;
}
#u621_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u622 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:64px;
  height:30px;
}
#u622_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:30px;
}
#u623 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:30px;
  width:608px;
  height:30px;
  text-align:left;
}
#u623_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:604px;
  word-wrap:break-word;
}
#u624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u624 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:30px;
  width:60px;
  height:30px;
}
#u624_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:33px;
}
#u625 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:64px;
  height:33px;
}
#u625_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:33px;
}
#u626 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:60px;
  width:608px;
  height:33px;
  text-align:left;
}
#u626_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:604px;
  word-wrap:break-word;
}
#u627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
}
#u627 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:60px;
  width:60px;
  height:33px;
}
#u627_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:33px;
}
#u628 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:93px;
  width:64px;
  height:33px;
}
#u628_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:33px;
}
#u629 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:93px;
  width:608px;
  height:33px;
  text-align:left;
}
#u629_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:604px;
  word-wrap:break-word;
}
#u630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
}
#u630 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:93px;
  width:60px;
  height:33px;
}
#u630_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:33px;
}
#u631 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:64px;
  height:33px;
}
#u631_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:33px;
}
#u632 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:126px;
  width:608px;
  height:33px;
  text-align:left;
}
#u632_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:604px;
  word-wrap:break-word;
}
#u633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
}
#u633 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:126px;
  width:60px;
  height:33px;
}
#u633_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:left;
}
#u634 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:888px;
  width:287px;
  height:29px;
  font-size:18px;
  text-align:left;
}
#u634_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:283px;
  word-wrap:break-word;
}
#u635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u635 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:1142px;
  width:222px;
  height:25px;
  text-align:left;
}
#u635_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:218px;
  word-wrap:break-word;
}
#u636 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:837px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u637 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:1217px;
  width:837px;
  height:310px;
}
#u637_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u638 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:1265px;
  width:55px;
  height:26px;
  font-size:16px;
}
#u638_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:1301px;
  width:55px;
  height:26px;
  font-size:16px;
}
#u639_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:1265px;
  width:320px;
  height:26px;
  text-align:left;
}
#u640_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:316px;
  word-wrap:break-word;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:1301px;
  width:732px;
  height:159px;
}
#u642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u642_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:30px;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:0px;
  width:608px;
  height:30px;
}
#u643_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:604px;
  word-wrap:break-word;
}
#u644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:0px;
  width:60px;
  height:30px;
}
#u644_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:64px;
  height:30px;
}
#u645_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:30px;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:30px;
  width:608px;
  height:30px;
  text-align:left;
}
#u646_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:604px;
  word-wrap:break-word;
}
#u647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:30px;
  width:60px;
  height:30px;
}
#u647_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:33px;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:64px;
  height:33px;
}
#u648_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:33px;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:60px;
  width:608px;
  height:33px;
  text-align:left;
}
#u649_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:604px;
  word-wrap:break-word;
}
#u650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:60px;
  width:60px;
  height:33px;
}
#u650_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:33px;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:93px;
  width:64px;
  height:33px;
}
#u651_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:33px;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:93px;
  width:608px;
  height:33px;
  text-align:left;
}
#u652_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:604px;
  word-wrap:break-word;
}
#u653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:93px;
  width:60px;
  height:33px;
}
#u653_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:33px;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:64px;
  height:33px;
}
#u654_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:33px;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:126px;
  width:608px;
  height:33px;
  text-align:left;
}
#u655_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:604px;
  word-wrap:break-word;
}
#u656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:126px;
  width:60px;
  height:33px;
}
#u656_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:left;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:1226px;
  width:287px;
  height:29px;
  font-size:18px;
  text-align:left;
}
#u657_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:283px;
  word-wrap:break-word;
}
#u658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:1480px;
  width:222px;
  height:25px;
  text-align:left;
}
#u658_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:218px;
  word-wrap:break-word;
}
#u659_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:0px;
  width:19px;
  height:47px;
}
#u659p000 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:17px;
  width:44px;
  height:4px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u659p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:4px;
}
#u659p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
}
#u659p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u659p002 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:23px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u659p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:1527px;
  width:1px;
  height:38px;
}
#u659_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  color:#009933;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:1565px;
  width:236px;
  height:33px;
  font-size:16px;
  color:#009933;
}
#u660_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:216px;
  word-wrap:break-word;
}
